.weeklyDay {
  height: 11%;
  width: 90%;
  background: linear-gradient(to left, rgb(187, 184, 149), rgb(58, 57, 56));
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
}

.img img {
  width: 100%;
  height: 100%;
}

.img {
  width: 25px;
  height: 20px;
  margin-left: 5px;
}

.date {
  margin-top: auto;
  margin-bottom: auto;
}